@model ShopIndexViewModel
@{
    ViewData["Title"] = "Mağaza";
}

<div class="wrapper">

    <div class="inc:_header.html"></div>

    <!-- ======================== Main header ======================== -->

    <section class="main-header" style="background-image:url(assets/images/gallery-3.jpg)">
        <header>
            <div class="container">
                <h1 class="h2 title">Mağaza</h1>
            </div>
        </header>
    </section>

    <!-- ========================  Icons slider ======================== -->

    <section class="owl-icons-wrapper">

        <div class="container">

            <div class="owl-icons">

                <a href="#">
                    <figure>
                        <i class="f-icon f-icon-chair"></i>
                        <figcaption>Sandalye</figcaption>
                    </figure>
                </a>

                <a href="#">
                    <figure>
                        <i class="f-icon f-icon-bar-set"></i>
                        <figcaption>Bar Sandalyesi</figcaption>
                    </figure>
                </a>

                <!-- === icon item === -->

                <a href="#">
                    <figure>
                        <i class="f-icon f-icon-table"></i>
                        <figcaption>Masa</figcaption>
                    </figure>
                </a>

                <!-- === icon item === -->

                <a href="#">
                    <figure>
                        <i class="f-icon f-icon-dining-table"></i>
                        <figcaption>Bar Masası</figcaption>
                    </figure>
                </a>

                <!-- === icon item === -->

                <a href="#">
                    <figure>
                        <i class="f-icon f-icon-accessories"></i>
                        <figcaption>Aksesuar</figcaption>
                    </figure>
                </a>

                <!-- === icon item === -->


                <a href="#">
                    <figure>
                        <i class="f-icon f-icon-armchair"></i>
                        <figcaption>Bahçe Mobilyası</figcaption>
                    </figure>
                </a>

            </div> <!--/owl-icons-->
        </div> <!--/container-->
    </section>

    <!-- ======================== Products ======================== -->

    <section class="products">
        <div class="container">

            <header class="hidden">
                <h3 class="h3 title">Product category grid</h3>
            </header>

            <div class="row">

                <!-- === product-filters === -->

                <div class="col-md-3 col-xs-12">
                    <div class="filters">
                        <!--Price-->
                        <div class="filter-box active">
                            <div class="title">Fiyat Aralığı</div>
                            <div class="filter-content">
                                <div class="price-filter">
                                    <input type="text" id="range-price-slider" value="" name="range" />
                                </div>
                            </div>
                        </div>
                        <!--Availability-->
                        <div class="filter-box active">
                            <div class="title">
                                STOK
                            </div>
                            <div class="filter-content">
                                <span class="checkbox">
                                    <input type="radio" name="radiogroup-stock" id="availableId1" checked="checked">
                                    <label for="availableId1">Stokta mevcut </label>
                                </span>
                                <span class="checkbox">
                                    <input type="radio" name="radiogroup-stock" id="availableId2">
                                    <label for="availableId2">1 hafta </label>
                                </span>
                                <span class="checkbox">
                                    <input type="radio" name="radiogroup-stock" id="availableId3">
                                    <label for="availableId3">2 hafta </label>
                                </span>
                            </div>
                        </div> <!--/filter-box-->
                        <!--Discount-->
                        <div class="filter-box active">
                            <div class="title">
                                İndirim
                            </div>
                            <div class="filter-content">
                                <span class="checkbox">
                                    <input type="radio" id="discountId1" name="discountPrice" checked="checked">
                                    <label for="discountId1">Hepsi</label>
                                </span>
                                <span class="checkbox">
                                    <input type="radio" id="discountId2" name="discountPrice">
                                    <label for="discountId2">İndirimli Ürünler</label>
                                </span>
                            </div>
                        </div> <!--/filter-box-->
                        <!--Type-->
                        <div class="filter-box active">
                            <div class="title">
                                Kategori
                            </div>
                            <div class="filter-content">
                                <span class="checkbox">
                                    <input type="radio" name="radiogroup-type" id="typeIdAll" checked="checked">
                                    <label for="typeIdAll">Hepsi </label>
                                </span>
                                @foreach (var category in Model.Categories)
                                {
                                    <span class="checkbox">
                                        <input type="radio" name="radiogroup-type" id="typeId+@category.Value" checked="checked">
                                        <label for="typeId+@category.Value">@category.Text</label>
                                    </span>
                                }

                            </div>
                        </div> <!--/filter-box-->
                         @*************todo:ViewComponentle yap seçilen categoryId ye göre subcategoryleri bastır**********************@
                        <div class="filter-box active">
                            <div class="title">
                                Alt Kategori
                            </div>
                            <div class="filter-content">
                                <span class="checkbox">
                                    <input type="radio" name="radiogroup-type" id="subtypeIdAll" checked="checked">
                                    <label for="subtypeIdAll">Hepsi </label>
                                </span>
                                @foreach (var subCategory in Model.SubCategories)
                                {
                                    <span class="checkbox">
                                        <input type="radio" name="radiogroup-type" id="subtypeId+@subCategory.Value">
                                        <label for="subtypeId+@subCategory.Value">@subCategory.Text</label>
                                    </span>
                                }
                            </div>
                        </div> <!--/filter-box-->
                        <!--Material-->
                        <div class="filter-box active">
                            <div class="title">
                                Malzeme
                            </div>
                            <div class="filter-content">
                                <span class="checkbox">
                                    <input type="radio" name="radiogroup-material" id="matIdAll">
                                    <label for="matIdAll">All </label>
                                </span>
                                @foreach (var material in Model.Materials)
                                {
                                    <span class="checkbox">
                                        <input type="radio" name="radiogroup-material" id="matId+@material.Value">
                                        <label for="matId+@material.Value">@material.Text</label>
                                    </span>
                                }
                            </div>
                        </div> <!--/filter-box-->
                        <!--close filters on mobile / update filters-->
                        <div class="toggle-filters-close btn btn-main">
                            Ürünleri Filtrele
                        </div>

                    </div> <!--/filters-->
                </div>

                <!--product items-->

                <div class="col-md-9 col-xs-12">

                    <div class="sort-bar clearfix">
                        <div class="sort-results pull-left">
                            <!--Items counter-->
                            <span><strong>100 </strong>üründen <strong>20</strong> ürün görüntüleniyor (Sayfa 1/5)</span>
                        </div>
                        <!--Sort options-->
                        <div class="sort-options pull-right">
                            <span class="hidden-xs">Sırala</span>
                            <select>
                                <option value="1">Son Eklenen</option>
                                <option value="2">Popüler Ürünler</option>
                                <option value="3">Fiyat : Azalan</option>
                                <option value="4">Fiyat : Artan</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <!-- === product-item === -->
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-md-6 col-xs-6">

                                <article>
                                    <div class="info">
                                        <span>
                                            <a href="#@product.Id" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a>
                                        </span>
                                    </div>
                                    <div class="btn btn-add">
                                        <i class="icon icon-cart"></i>
                                    </div>
                                    <div class="figure-grid">
                                        <div class="image">
                                            <a href="#@product.Id" class="mfp-open">
                                                <img src="~/images/SeedImages/lotussandalye.jpeg" alt="" width="360" height="306" />
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h2 class="title h4"><a href="product.html">@product.Name</a></h2>
                                            @if (product.Discount == true)
                                            {
                                                <sup>₺ @product.DiscountedPrice,-</sup>
                                            }
                                            else
                                            {
                                                <sup>₺ @product.Price,-</sup>

                                            }
                                            <span class="">Açıklamalar kısmı</span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        }

                    </div><!--/row-->
                    <!--Pagination-->
                    <div class="pagination-wrapper">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div> <!--/product items-->

            </div><!--/row-->
            <!-- ========================  Product info popup - quick view ======================== -->

            @foreach (var product in Model.Products)
            {
                <div class="popup-main mfp-hide" id="@product.Id">

                    <!-- === product popup === -->

                    <div class="product">
                        <!-- === product gallery === -->

                        <!-- === popup-title === -->

                        <div class="popup-title">
                            <div class="h1 title">@product.Name</div>
                        </div>

                        <div class="owl-product-gallery">
                            <img src="assets/images/product-1.png" alt="" width="640" />
                            <img src="assets/images/product-2.png" alt="" width="640" />
                            <img src="assets/images/product-3.png" alt="" width="640" />
                            <img src="assets/images/product-4.png" alt="" width="640" />
                        </div>


                        <!-- === product-popup-info === -->

                        <div class="popup-content">
                            <div class="product-info-wrapper">
                                <div class="row">

                                    <!-- === left-column === -->

                                    <div class="col-sm-12">
                                        <div class="info-box">
                                            <strong>Üretici</strong>
                                            <span>Nurgül Sandalye</span>
                                        </div>
                                        <div class="info-box">
                                            <strong>Malzeme</strong>
                                            @*<span>@product.Material.Name</span>*@
                                        </div>
                                        <div class="info-box">
                                            <strong>Stok Durumu</strong>
                                            <span><i class="fa fa-check-square-o"></i> in stock</span>
                                        </div>
                                    </div>
                                    <!-- === right-column === -->
                                </div><!--/row-->
                            </div> <!--/product-info-wrapper-->
                        </div><!--/popup-content-->
                        <!-- === product-popup-footer === -->

                        <div class="popup-table">
                            <div class="popup-cell">
                                <div class="price">
                                    @if (product.Discount == true)
                                    {
                                        <span class="h3">₺ @product.DiscountedPrice<small>₺ @product.Price</small></span>
                                    }
                                    else
                                    {
                                        <span class="h3">₺ @product.Price</span>
                                    }
                                </div>
                            </div>
                            <div class="popup-cell">
                                <div class="popup-buttons">
                                    <a href="product.html"><span class="icon icon-eye"></span><span class="hidden-xs">Daha Fazla Bilgi</span></a>
                                    <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Satın Al</span></a>
                                </div>
                            </div>
                        </div>
                    </div> <!--/product-->
                </div> <!--popup-main-->

            }
        </div><!--/container-->
    </section>

    <div class="inc:_footer.html"></div>

</div> <!--/wrapper-->